body {
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #e5e5e5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    background-color: #fff;
    width: 700px;
    height: 600px;
    border: 5px solid #a1c7d7;
    border-radius: 8px;
    padding: 15px;
    overflow-y: scroll;
}

.app::-webkit-scrollbar {
    width: 0 !important;
}

#addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a1c7d7;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus {
    background-color: #a9ebf6;
    padding: 3px;
    border-radius: 3px;
}

#tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

#tasks div {
    border: 2px solid #4bbbcf;
    background-color: #a1c7d7;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    gap: 4px;
}

#tasks div .options {
    justify-self: end;
    display: flex;
    gap: 20px;
}

#tasks div .options i {
    cursor: pointer;
}

#msg {
    color: red;
}